body{
	font-family: 'Montserrat', sans-serif;
	background-image: linear-gradient(171deg, rgba(39,61,93, 0.8) 0%, rgba(70,29,114, 0.8) 100%), url("../img/fndhome.png");
	background-attachment: fixed;
	width: 100%;
	min-height: 700px;
	background-size: cover;
}
header, main, footer {
    padding-left: 240px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
.side-nav{
	font-style: italic;
	background-image: linear-gradient(171deg, rgba(44,52,92,0.9) 0%, rgba(44,198,92,0.9) 100%);
}
.button-collapse img{
	margin: 15px;
}

.side-nav a{
	color: #fcfcfc!important;
}
.menubotao{
	height: 36px;
	width: 36px;
	margin: 20px;
	display: block;
	border-top: 4px solid #39b54a; 
}
.menubotao::before{
	content: '';
	display: block;
	height: 4px;
	background: #39b54a;
	margin-top: 6px;
	width: 30px;
}
.menubotao::after{
	content: '';
	display: block;
	height: 4px;
	background: #39b54a;
	margin-top: 6px;
	width: 20px;
}
.home img {
	height: 17px;
	margin-right: 25px;
}
.perfil img {
	height: 17px;
	margin-right: 25px;
}

.time img {
	height: 17px;
	margin-right: 25px;
}

.ultimas-partidas img {
	height: 17px;
	margin-right: 25px;
}

.procure img {
	height: 17px;
	margin-right: 25px;
}

.ranking img {
	height: 17px;
	margin-right: 25px;
}

.sair img {
	height: 17px;
	margin-right: 25px;
}

.topo {
	margin-top: 30px;
	margin-left: 30px;
	height: 50px;
	width: 250px;
	margin-bottom: 40px;
}
.topo p{
	font-weight: bold;
	font-style: normal;
	margin-left: 80px;
	line-height: 1.5;
}
.topo small{
	font-weight: normal;
}

.topo::after {
	content: "";
	height: 1px;
	width: 220px;
	background-color: #fcfcfc;
	margin: 0 auto;
	display: block;
	margin-top: 35px;
}
.avatar{
	height: 50px;
	width: 50px;
	background-color: #39b54a;
	border-radius:50%;
	border:3px solid #fff;
	float: left;
}

.avatar2{
	height: 150px;
	width: 150px;
	background-color: #39b54a;
	border-radius:50%;
	border:3px solid #fff;
	margin: 0 auto;
	margin-top: 15px;
}

.card2 {
	margin: 0 auto;
	margin-top: 15px;
	width: 320px;
	height: 70px;
	padding: 10px;
	background-image: linear-gradient(171deg, rgba(39,61,93, 0.4) 0%, rgba(70,29,114, 0.4) 100%) !important;
	border-radius: 5px;
}
.card2 p{
	margin-top: 0px;
	font-weight: normal;
	font-style: normal;
	margin-left: 60px;
	line-height: 1.5;
	color: #fcfcfc;
}
.card2 small{
	font-weight: normal;
	color: #2CC65C;
}

.titulo{
	max-width: 320px;
	margin: 0 auto;
	margin-top: 10px;
	line-height: 1.5;
	color: #fcfcfc;
	font-weight: normal;
	font-style: italic;
	font-size: 11px;
}

.titulo2{
	max-width: 200px;
	margin: 0 auto;
	margin-top: 10px;
	line-height: 1.5;
	color: #fcfcfc;
	font-weight: normal;
	font-style: bold;
	font-size: 11px;
}

.titulo2 h5{
	max-width: 200px;
	margin: 0 auto;
	margin-top: 10px;
	line-height: 1.5;
	color: #fcfcfc;
	font-weight: normal;
	font-style: bold;
	font-size: 11px;
}

#marginprocure{
	margin-top: 15px;
}
